{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:eslint-plugin/recommended",
    "plugin:diff/diff"
  ],
  "plugins": [
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": ["error", "always"],
    "react/react-in-jsx-scope": "off"
  }
}
