.post {
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column;
}

.post img {
  width: 100%;
}

.post-content {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.post-content p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  font-size: 14px;
}

.post-content h2 {
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
